# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend (Dự phòng cho sau này)
node_modules/
dist/
dist-ssr
*.local